.submit-button {
  background-color: rgb(32, 130, 109);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  justify-content: center;
}

.add-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-card-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

label,
select,
input[type="text"] {
  display: block;
  margin-top: 10px;
  width: 100%;
}

select,
input[type="text"] {
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
}

form {
  width: 100%;
}
